altair
beautifulsoup4
bokeh
bqplot
ccxt
datashader
Faker
holoviews
hvplot
ipydagred3
ipylab
ipyleaflet
ipympl
ipysheet
ipywidgets
jupyterlab>=3.3
jupyterlab-nbconvert-nocode
jupyterlab-templates
matplotlib
mimesis
nbdime
nbresuse
numba
numpy
openpyxl
pandas>=1
pandoc
panel
papermill
perspective-python
plotly
pyarrow
pyviz-comms
qgrid
requests
scikit-learn
scipy
seaborn
sidecar
spacy
SQLAlchemy
statsmodels
sympy
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
vapeplot
vega
voila
