aiohttp>=3.5.4
aiostream>=0.3.1
alphalens>=0.3.4+3.g399d89d.dirty
altair>=2.3.0
arctic>=1.73.0
beautifulsoup4>=4.6.3
bintrees>=2.0.4
bokeh>=1.0.2
bqplot>=0.11.2
ccxt>=1.18.529
coinmarketcap>=5.0.3
cufflinks>=0.15
cyjupyter>=0.2.0
datashader>=0.6.8
ipdb>=0.11
ipyannotate>=0.1.0b0
ipydatawidgets>=4.0.0
ipymarkup>=0.3.0
ipympl>=0.2.1
ipysheet==0.4.2
ipysigma>=0.5.0
ipyvolume>=0.5.1
ipywebrtc>=0.4.3
ipywidgets>=7.4.2
jupyter-tensorboard>=0.1.8
jupyterlab==0.35.6
jupyterlab-autoversion>=0.0.4
jupyterlab-celltests>=0.0.8
jupyterlab-commands>=0.0.4
jupyterlab-email>=0.1.1
jupyterlab-git>=0.5.0
jupyterlab-iframe>=0.0.11
jupyterlab-quickopen>=0.1.0
jupyterlab-server>=0.2.0
jupyterlab-snippets>=0.2.4
jupyterlab-templates>=0.0.7
matplotlib>=3.0.2
mimesis>=3.0.0
missingno>=0.4.2
nbconvert>=5.5.0
nbdime>=1.0.4
nbformat>=4.4.0
nbresuse>=0.3.0
nbstripout>=0.3.3
nbval>=0.9.1
nltk>=3.4
numba>=0.41.0
numpy>=1.16.3
openpyxl>=2.5.12
pandas>=0.24.2
pandas-datareader>=0.7.0
pandoc>=1.0.2
papermill>=0.16.2
pendulum>=1.4.4
percy>=2.0.1
perspective-python==0.1.10
plotly==3.10.0
psycopg2>=2.7.6.1
pyEX>=0.1.14
pyfolio>=0.9.0
pylantern>=0.1.2
pymongo>=3.7.2
python-nvd3>=0.15.0
pythreejs>=2.0.2
PyWavelets>=1.0.1
qgrid>=1.1.1
Quandl>=3.4.5
quantecon>=0.4.3
QuantLib-Python>=1.13
requests>=2.22.0
scikit-learn>=0.20.3
scipy>=1.2.1
seaborn>=0.9.0
sidecar>=0.2.0
spacy>=2.1.4
SQLAlchemy>=1.2.15
sseclient>=0.0.22
statsmodels>=0.9.0
sympy>=1.3
tqdm>=4.28.1
trading-calendars>=1.6.1
tributary>=0.0.4
vapeplot>=0.0.8
xgboost>=0.72
XlsxWriter>=1.1.2